{{#each this}}
<h2 class="name">{{name}}</h2>
<div class="wrapper">
    <ul class="info">
        <li class="item">Capital: <span class="item-data">{{capital}}</span></li>
        <li class="item">Population: <span class="item-data">{{population}}</span></li>
        <li class="item">Languages:<span class="item-data">
                <ul class="languages">
                    {{#each languages}}
                    <li>
                        {{name}}
                    </li>
                    {{/each}}
                </ul>
            </span>
        </li>
    </ul>
    <img class="flag" src="{{flag}}" alt="Flag of {{name}}" width="300">
</div>
{{/each}}